<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Order</title>
    <link rel="stylesheet" href="payment_order.css" />
  </head>
  <body>
    <div align="center">
      <table id="form-table">
        <col class="col-1" />
        <col class="col-2" />
        <col class="col-3" />
        <col class="col-4" />
        <col class="col-5" />
        <col class="col-6" />
        <tr>
          <td colspan="5" class="header header-top" style="border-bottom: none">
            UNION TRANVIARIOS AUTOMOTOR
          </td>
          <td rowspan="2" class="logo">
            <img
              width="72"
              height="70"
              src="static/payment_order_10753_image002.png"
            />
          </td>
        </tr>
        <tr>
          <td colspan="5" class="header header-bottom" style="border-top: none">
            S I N D I C A L
          </td>
        </tr>
        <tr class="row-2">
          <td colspan="2" class="payment-order-number-label">ORDEN DE PAGO</td>
          <td class="payment-order-number">182</td>
          <td></td>
          <td class="payment-order-date-label">FECHA:</td>
          <td class="payment-order-date">11/03/2025</td>
        </tr>
        <tr class="row-3">
          <td colspan="2" class="supplier-name-label">Paguese a:</td>
          <td colspan="4" class="supplier-name">CONFLUENCIA</td>
        </tr>
        <tr class="row-4">
          <td colspan="6" class="imputacion-contable-label">IMPUTACION CONTABLE</td>
        </tr>
        <tr class="row-5">
          <td colspan="3" class="denomination-account-label">DENOMINACION CUENTA</td>
          <td colspan="2" class="code-account-label">CODIGO CONTABLE</td>
          <td class="amount-label">IMPORTE</td>
        </tr>
        <tr class="row-6">
          <td colspan="3" class="detail-label">DETALLE:</td>
          <td colspan="2"></td>
          <td class="invoice-value">$15,000,000.00</td>
        </tr>
        <tr class="row-7">
          <td colspan="3" rowspan="5" class="detail-value">
            Servicios de mantenimiento y reparación de unidades correspondientes
            al mes de octubre 2025
          </td>
          <td colspan="2"></td>
          <td class="invoice-value"></td>
        </tr>
        <tr class="row-8">
          <td colspan="2"></td>
          <td class="invoice-value"></td>
        </tr>
        <tr class="row-9">
          <td colspan="2"></td>
          <td class="invoice-value"></td>
        </tr>
        <tr class="row-10">
          <td colspan="2"></td>
          <td class="invoice-value"></td>
        </tr>
        <tr class="row-11">
          <td colspan="2" class="witholding-label">R E T E N C I O N E S</td>
          <td class="witholding-value">$25,000.00</td>
        </tr>
        <tr class="row-12">
          <td colspan="5" class="total-amount-label">TOTAL DE GASTOS:</td>
          <td class="total-amount-value">$14,975,000.00</td>
        </tr>
        <tr class="row-13">
          <td colspan="6" class="bonds-label">BONOS PROVINCIALES Y/O NACIONALES</td>
        </tr>
        <tr class="row-14">
          <td colspan="2" class="invoice-number-label">FACTURA N°</td>
          <td colspan="2" class="invoice-number-value">0</td>
          <td colspan="2"></td>
        </tr>
        <tr class="row-15">
          <td colspan="3" class="bank-label">BANCO DE LA NACION ARGENTINA</td>
          <td colspan="2" class="account-number-label">NUMERO DE CUENTA</td>
          <td colspan="1" class="account-number-value">1300564/23</td>
        </tr>
        <tr class="row-16">
          <td colspan="1" class="check-number-label">CHEQUE N°</td>
          <td colspan="1" class="check-number-value">00148685</td>
          <td colspan="1" class="issue-date-label">EMISION:</td>
          <td colspan="1" class="issue-date-value">11/03/2025</td>
          <td colspan="1" class="due-date-label">VENCE:</td>
          <td colspan="1" class="due-date-value">11/03/2025</td>
        </tr>
        <tr class="row-17">
          <td colspan="3" class="check-clarification-label">ACLARACION DE CHEQUE:</td>
          <td colspan="3" class="check-clarification-value">Cheque Propio</td>
        </tr>
        <tr class="separator">
          <td colspan="6"></td>
        </tr>
        <tr class="row-18">
          <td colspan="1" class="created-by-label">CONFECCIONO</td>
          <td colspan="5" class="authorizations-label">FIRMAS DE AUTORIZACION</td>
        </tr>
        <tr class="row-19">
          <td colspan="1" class="created-by-value">BRAVO<br />SERGIO<br />PABLO</td>
          <td colspan="2" class="signee-label">SECRETARIO<br /> DE FINANZAS</td>
          <td colspan="1" class="signee-label">SECRETARIO<br />GENERAL ADJUNTO</td>
          <td colspan="2" class="signee-label">SECRETARIO<br />GENERAL</td>
        </tr>
        <tr class="separator">
          <td colspan="6"></td>
        </tr>
        <tr class="row-20">
          <td colspan="6" class="central-accounting-label">USO CONTADURIA CENTRAL</td>
        </tr>
        <tr class="row-21">
          <td colspan="2" class="control-label">N° DE REGISTRO</td>
          <td colspan="2" class="control-label">CONTABILIZO</td>
          <td colspan="2" class="control-label">CONTROLO</td>
        </tr>
        </table>
        <table id="check-box-table">
        <tr class="checkbox-row">
          <td colspan="6" class="check-box-label">
            (&nbsp;&nbsp;&nbsp;&nbsp;) ACLARAR DE QUE TIPO DE BONO SE TRATA
          </td>
        </tr>
        <tr class="checkbox-row">
          <td colspan="6" class="check-box-label">
            (&nbsp;&nbsp;&nbsp;&nbsp;) ACLARAR EL TIPO DE VALOR
          </td>
        </tr>
        <tr class="checkbox-row">
          <td colspan="6" class="check-box-label">
            (&nbsp;&nbsp;&nbsp;&nbsp;) ACLARAR SI EL CHEQUE ES PROPIO O DE
            TERCEROS
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
