<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Order</title>
    <link rel="stylesheet" href="payment_order.css" />
  </head>
  <body>
    <div id="payment_order" align="center">
      <table>
        <tr>
          <td colspan="5">UNION TRANVIARIOS AUTOMOTOR</td>
          <td rowspan="2">IMAGE</td>
        </tr>
        <tr>
          <td colspan="5">S I N D I C A L</td>
        </tr>
        <tr>
          <td colspan="2">ORDEN DE PAGO</td>
          <td>182</td>
          <td></td>
          <td>FECHA:</td>
          <td>11/03/2025</td>
        </tr>
        <tr>
          <td colspan="2">Paguese a:</td>
          <td colspan="4">CONFLUENCIA</td>
        </tr>
        <tr>
          <td colspan="6">IMPUTACION CONTABLE</td>
        </tr>
        <tr>
          <td colspan="3">DENOMINACION CUENTA</td>
          <td colspan="2">CODIGO CONTABLE</td>
          <td>IMPORTE</td>
        </tr>
        <tr>
          <td colspan="3">DETALLE:</td>
          <td colspan="2"></td>
          <td>$15,000,000.00</td>
        </tr>
        <tr>
          <td colspan="3" rowspan="5">
            Servicios de mantenimiento y reparación de unidades correspondientes
            al mes de octubre 2025
          </td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">R E T E N C I O N E S</td>
          <td>$25,000.00</td>
        </tr>
        <tr>
          <td colspan="5">TOTAL DE GASTOS:</td>
          <td>$14,975,000.00</td>
        </tr>
        <tr>
          <td colspan="6">BONOS PROVINCIALES Y/O NACIONALES</td>
        </tr>
        <tr>
          <td colspan="2">FACTURA N°</td>
          <td colspan="2">0</td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td colspan="3">BANCO DE LA NACION ARGENTINA</td>
          <td colspan="2">NUMERO DE CUENTA</td>
          <td colspan="1">1300564/23</td>
        </tr>
        <tr>
          <td colspan="1">CHEQUE N°</td>
          <td colspan="1">00148685</td>
          <td colspan="1">EMISION:</td>
          <td colspan="1">11/03/2025</td>
          <td colspan="1">VENCE:</td>
          <td colspan="1">11/03/2025</td>
        </tr>
        <tr>
          <td colspan="3">ACLARACION DE CHEQUE:</td>
          <td colspan="3">Cheque Propio</td>
        </tr>
        <tr>
          <td colspan="6"></td>
        </tr>
        <tr>
          <td colspan="1">CONFECCIONO</td>
          <td colspan="5">FIRMAS DE AUTORIZACION</td>
        </tr>
        <tr>
          <td colspan="1" rowspan="2">BRAVO<br />SERGIO<br />PABLO</td>
          <td colspan="5"></td>
        </tr>
        <tr>
          <td colspan="2">SECRETARIO DE FINANZAS</td>
          <td colspan="1">SECRETARIO GENERAL ADJUNTO</td>
          <td colspan="2">SECRETARIO GENERAL</td>
        </tr>
        <tr>
          <td colspan="6"></td>
        </tr>
        <tr>
          <td colspan="6">USO CONTADURIA CENTRAL</td>
        </tr>
        <tr>
          <td colspan="2">N° DE REGISTRO</td>
          <td colspan="2">CONTABILIZO</td>
          <td colspan="2">CONTROLO</td>
        </tr>
        <tr>
          <td colspan="6">
            (&nbsp;&nbsp;&nbsp;&nbsp;) ACLARAR DE QUE TIPO DE BONO SE TRATA
          </td>
        </tr>
        <tr>
          <td colspan="6">
            (&nbsp;&nbsp;&nbsp;&nbsp;) ACLARAR EL TIPO DE VALOR
          </td>
        </tr>
        <tr>
          <td colspan="6">
            (&nbsp;&nbsp;&nbsp;&nbsp;) ACLARAR SI EL CHEQUE ES PROPIO O DE
            TERCEROS
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
