body {
  font-family: Arial, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: black;
  margin: 0;
  padding: 0;
}

td {
  border: 1px solid black;
}

table#form-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 470pt;
  border: 2pt solid black;
}

table#check-box-table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 470pt;
}

col.col-1 { width: 68pt; }
col.col-2 { width: 67pt; }
col.col-3 { width: 79pt; }
col.col-4 { width: 79pt; }
col.col-5 { width: 79pt; }
col.col-6 { width: 98pt; }

tr.row-2 td, tr.row-3 td {
  height: 22.5pt;
}

tr.row-4 td, tr.row-5 td {
  height: 19.5pt;
}

tr.row-6 td, tr.row-7 td, tr.row-8 td, tr.row-9 td, tr.row-10 td, tr.row-11 td {
  height: 16.5pt;
}

tr.row-12 td {
  height: 17.25pt;
}

tr.row-13 td, tr.row-14 td {
  height: 18pt;
}

tr.row-15 td {
  height: 30pt;
}

tr.row-16 td {
  height: 21pt;
}

tr.row-17 td {
  height: 18.75pt;
}

tr.separator td {
height: 5.25pt;
}

tr.row-18 td {
  height: 15.75pt;
}

tr.row-19 td {
  height: 62.25pt;
}

tr.row-20 td {
  height: 15pt;
}

tr.row-21 td {
  height: 15.75pt;
}

tr.checkbox-row td {
  height: 15pt;
}

.header {
  font-size: 15pt;
  text-align: center;
  border-right: none;
}

.header-top {
  border-bottom: none;
  vertical-align: bottom;
}

.header-bottom {
  border-top: none;
  vertical-align: top;
}

td.logo {
  border-left: none;
}

.payment-order-number-label {
  border-right: none;
  text-align: center;
}

.payment-order-number {
  border-left: none;
}

.payment-order-date-label {
  text-align: right;
  border-right: none;
  padding-right: 2pt;
  font-family: Calibri, Arial, sans-serif;
}

.payment-order-date {
  text-align: left;
  border-left: none;
  padding-left: 2pt;
  font-family: Calibri, Arial, sans-serif;
}

.supplier-name-label {
  border-right: none;
  text-align: center;
}

.supplier-name {
  border-left: none;
  text-align: left;
}

.imputacion-contable-label {
  text-align: center;
  font-size: 14pt;
}

.denomination-account-label {
  text-align: center;
  font-size: 10pt;
}

.code-account-label {
  text-align: center;
  font-family: Calibri, Arial, sans-serif;
}

.amount-label {
  text-align: center;
  font-family: Calibri, Arial, sans-serif;
}

.detail-label {
  text-align: left;
  text-decoration: underline;
  border-bottom: none;
}

.detail-value {
  text-align: left;
  vertical-align: top;
  border-top: none;
  text-wrap: wrap;
  font-weight: normal;
}

.invoice-value {
  text-align: left;
  padding-left: 2pt;
  font-size: 10pt;
  font-weight: normal;
}

.witholding-label {
  text-align: center;
  font-family: Calibri, Arial, sans-serif;
}

.witholding-value {
  text-align: left;
  padding-left: 2pt;
  font-family: Calibri, Arial, sans-serif;
}

.total-amount-label {
  text-align: right;
  padding-right: 2pt;
  font-size: 10pt;
}

.total-amount-value {
  text-align: left;
  padding-left: 2pt;
  font-family: Calibri, Arial, sans-serif;
}

.bonds-label {
  text-align: left;
  font-size: 8pt;
  font-weight: normal;
}

.invoice-number-label {
  text-align: right;
  font-size: 10pt;
}

.invoice-number-value {
  text-align: center;
  font-size: 10pt;
}

.bank-label {
  text-align: left;
}

.account-number-label {
  text-align: center;
  font-size: 14pt;
  font-family: Calibri, Arial, sans-serif;
}

.account-number-value {
  text-align: center;
  font-size: 13pt;
  font-family: Calibri, Arial, sans-serif;
}

.check-number-label {
  text-align: center;
}

.check-number-value {
  text-align: center;
  font-size: 12pt;
  font-family: Calibri, Arial, sans-serif;
}

.issue-date-label {
  text-align: right;
  font-size: 12pt;
  font-family: Calibri, Arial, sans-serif;
}

.issue-date-value {
  text-align: center;
  font-family: Calibri, Arial, sans-serif;
}

.due-date-label {
  text-align: right;
  font-size: 12pt;
  font-family: Calibri, Arial, sans-serif;
}

.due-date-value {
  text-align: center;
  font-family: Calibri, Arial, sans-serif;
}

.check-clarification-label {
  text-align: center;
  border-right: none;
  font-size: 10pt;
}

.check-clarification-value {
  text-align: center;
  border-left: none;
  font-size: 11pt;
  font-family: Calibri, Arial, sans-serif;
}

.created-by-label {
  text-align: center;
  font-size: 8pt;
}

.authorizations-label {
  text-align: center;
  font-size: 8pt;
}

.created-by-value {
  text-align: center;
  vertical-align: center;
  font-size: 12pt;
  font-family: Calibri, Arial, sans-serif;
}

.signee-label {
  text-align: center;
  vertical-align: bottom;
  text-wrap: wrap;
  border-left: none;
  border-right: none;
  font-size: 8pt;
  font-family: Calibri, Arial, sans-serif;
}

.central-accounting-label {
  text-align: center;
  font-size: 10pt;
}

.control-label {
  text-align: center;
  font-size: 8pt;
  font-weight: normal;
}

.check-box-label {
  border: none;
  text-align: left;
  font-size: 8pt;
  font-weight: normal;
}